body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #DDF0ED;
}

/*-- 开始按钮 --*/

#startBtn {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 10%;
    top: 60%;
    left: 45%;
    position: fixed;
    background: #F17C67;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
}

#innerText {
    color: #fff;
    font-family: '幼圆';
    font-size: 15px;
    display: inline-block;
    margin: 0;
    padding: 0;
    top: 0;
}

#startBtn:hover {
    box-shadow: #F17C67 0 0 5px;
    cursor: pointer;
    text-shadow:#fff 0 0 5px;
}

/*-- 棋盘 --*/

#chessboard{
    height:10%;
    width:10%;
    background:#F17C67;
    position: fixed;
    top:45%;
    left:45%;
    line-height: 650px;
    text-align: center;
    vertical-align: middle;
}

#chessboard:hover{
    box-shadow: #F17C67 0 0 5px;
    cursor: pointer;
}

#glass{
    margin-top:10px;
    display: inline-block;
}

/* 难度选择等 */
#whichSide{
    position:fixed;
    top:30%;
    left:45%;
    width:10%;
    text-align:center;
    font-size:25px;
    font-weight:lighter;
    font-family:'幼圆';
}

#whichDifficulty{
    position:fixed;
    top:40%;
    left:45%;
    width:10%;
    text-align:center;
    font-size:25px;
    font-weight:lighter;
    font-family:'幼圆';
}

#whichSide:hover{
    cursor: pointer;
    font-size:25px;
}

#whichDifficulty:hover{
    cursor: pointer;
    font-size:25px;
}

.adjustBtn{
    color:#F17C67;
}

.adjustBtn:hover{
    cursor:pointer;
    font-weight:bold;
}

/* 轮数计数器 */
#roundCounter{
    color:#fff;
    width:150px;
    height:100px;
    background:#cc0033;
    position:fixed;
    top:4%;
    left:10%;
    font-weight:lighter;
    text-align:center;
    border-radius:5px;
}

/* 读秒 */
#seconds{
    width:16%;
    height:80%;
    position:fixed;
    top:28%;
    right:5.5%;
    font-size:240px;
    font-weight:lighter;
    color:#cc0033;
    font-family:sans-serif;
}

/* 结果展示 */
#tellResult{
    cursor: pointer;
    color:#fff;
    position:fixed;
    background:#cc0033;
    width:50%;
    height:46%;
    top:100%;
    left:25%;
    font-weight:lighter;
    font-family: '幼圆';
    font-size:64px;
    line-height:46%;
    text-align: center;
    box-shadow: #cc0033 0 0 5px;
}
